@model IEnumerable<Actor>

@{
    ViewData["Title"] = "List of Actors";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.ProfilePictureURL)</th>
                    <th>@Html.DisplayNameFor(model => model.FullName)</th>
                    <th>@Html.DisplayNameFor(model => model.Bio)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle"><img class="rounded-circle" src="@item.ProfilePictureURL" alt="@item.FullName" style="max-width: 150px" /></td>
                        <td class="align-middle">@Html.DisplayFor(modelItem => item.FullName)</td>
                        <td class="align-middle" style="max-width: 300px;">@Html.DisplayFor(modelItem => item.Bio)</td>
                        <td class="align-middle">
                            <a asp-action="Edit" asp-route-id ="@item.Id" class="btn btn-outline-primary" style="margin: 0; padding: 1px;"><i class="bi bi-pencil-square" style="font-size: 0.8em">Edit</i></a> |
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info" style="margin: 0; padding: 1px;"><i class="bi bi-eye" style="font-size: 0.8em;">Details</i></a> |
                            <a asp-action="Delete" asp-route-id ="@item.Id" class="btn btn-danger text-white text-sm-center" style="margin: 0; padding: 1px"><i class="bi bi-trash" style="font-size: 0.8em;">Delete</i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@await Html.PartialAsync("_Createitem", "Actors")